<h1>List Challengers</h1>


    <ul>
        <% challenger.forEach((challengerSchema) => { %>
            <ul class="challengerBox">
                <div class="">
                    <div class="mapchallenge"><%= challengerSchema.location%></div>
                    <h3 class="challTittle"><%=challengerSchema.challengerName%></h3>
                    <p class="challText"><%= challengerSchema.description%></p>
                    <p>
                        <a href="/home">
                            <button class="buttonowner">                             
                                <img src="puulc/owner.png" alt="Owner ">
                            </button>
                        </a>
                        <datetime><%= challengerSchema.timulmit%></datetime>
                        <%= challengerSchema.sport%>
                    </p> 
                </div>
            </ul>
        <% }); %>
    </ul>
