<h1>List Challengers</h1>


<ul>
    <% challenger.forEach((challengerSchema) => { %>
        <ul class="challengerList">
            <div class="containerList">
                <div class="mapList">
                    <%= challengerSchema.location%>
                </div>
                <h3 class="tittleList">
                    <%=challengerSchema.challengerName%>
                </h3>
                <p class="textList">
                    <%= challengerSchema.description.substr(0,50) +" ..."%>
                </p>
                <p>
                    <a class="buttonOwnerList" href="/resume/<%= challengerSchema.owner %>">
                        <button class="iconOwner">
                            <img src="public/owner.png" alt="Owner ">
                        </button>
                    </a>

                    <a href="/challenges/<%= challengerSchema._id %>">
                        <button class="buttonSummaryList">Summary</button>
                    </a>

                    <datetime>
                        <%= challengerSchema.timeLimit%>
                    </datetime>
                    <%= challengerSchema.sport%>
                </p>
            </div>
        </ul>
        <% }); %>
</ul>